@font-face{
    font-family: 'acharmingfont';
    src: url(fonts/Achafont.woff2)format('woff2');
}

/* body{
    margin: 0;
    background: linear-gradient(to top, #d9f8dd, #799880);
    height: 100vh;
} */

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #e2ffb8, #ffffff);
}

html {
    cursor: url(media/cursor/sew.png), auto;
}

button, a, input, select, textarea {
    cursor: url('media/cursor/sew.png'), auto;
}

h1{
    font-family: 'acharmingfont';
    text-align: center;
    font-size: 180px;
    font-weight: 100;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #4800ff;
}

.play-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.play{
    background:none;
    border-style: none;
    font-family: 'acharmingfont';
    text-align: center;
    font-size: 150px;
    font-weight: 100;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 0;
}

.play:hover{
    color: #4800ff;
}

h3{
    position: absolute;
    bottom: 0;
    font-weight: 100;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}


/*------------------------------------------------------FOND--------------------------------------------------------------------*/



.ceintre{
    position: absolute;
    top: 80px;
    right: 60px;
    z-index: -1;
}

.ceintre img{
    width: 500px;
}

.bobine{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bobine img{
    width: 300px;
}

.tee{
    position: absolute;
    bottom: 60px;
    left: 100px;
    z-index: -1;
    transform: rotate(-10deg);
}

.tee img{
    width: 350px;
}

.smoke{
    position: absolute;
    top: 80px;
    left: 200px;
    z-index: -1;
}

.smoke img{
    height: 80vh;
}


.bandeau{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.bandeau img{
    width: 300px;
}

.tape{
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: -1;
}

.tape img{
    width: 300px;
}



/*--------------------------------------------------------MEDIA-------------------------------------------------------------*/



@media (max-width:1240px){

    h1{

        font-size: 180px;

    }

}

@media (max-width:995px){

    h1{

        font-size: 150px;

    }

}

@media (max-width:800px){

    h1{

        font-size: 100px;

    }

    .play{
        font-size: 100px;
    }
    
    .bandeau img{
        display: none;
    }

    .tee img{
        display: none;
    }

    .bobine img{
        display: none;
    }

    .ceintre img{
        display: none;
    }

    .tape{
        display: none;
    }

    .smoke{
        display: none;
    }

}